   <div id="client_details">
    <div class="c1">
        <i class="fa-regular fa-envelope"></i>
        <div class="box">
        </div>
    </div>
    <div class="c2">
      <p>Copyright &copy; 2014 two Bytes Consulting.<span> Terms & Policies </span></p>
      
      <div class="social">
        <div class="s1">
          <i class="fa-brands fa-twitter"></i>
          <label>&nbsp; Tweet</label>
        </div>
        <div class="s1">
          <label>692</label>
        </div>
        <div class="s1">
          <i class="fa-brands fa-square-facebook"></i>
          <label>&nbsp; Like</label>
        </div>
        <div class="s1">
           <label>117</label>
        </div>
      </div>
    </div>
</div>

