<div class="background">
  <div class="image">

    <div class="header">
      <div class="title">
          <h1>DEMO APP</h1>
      </div>
    <div class="nav">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">AboutUS</a>
      <a routerLink="/job">Jobs</a>
      <a routerLink="/client">Clients</a>
      <a routerLink="/employee">Employers</a>
      <a routerLink="/contact">ContactUs</a>
      
    </div>
</div>

  </div>


</div>

<!-- <div class="wrapper">
  <button (click)="openpopup()">Register</button>
</div>
<div class="overlay" *ngIf="show">
  <div class="content" >
    <div class="close" (click)="closepopup()">
      &times;
    </div>
    username: <input type="text" class="form-control">
    password: <input type="password" class="form-control">
    <br>
    <button>Sign IN</button>
  </div>
</div> -->

<div class="container">
<router-outlet></router-outlet>
</div>